html{
color: white
font-size:16px;
line-height:1.4;
font-family:ariel,sans-serif;
}


img
{max-width: 1200px;
max-height: 800px;
}

head { max-width: 1000px;
}

body { 
max-width: 1000px;
display: block;
background-color: grey;
}


container {max-width: 1200px}
@media (min-width: 480px) and (max-width: 1000px)  
img {
    display: block;
  }
}

junior { background-color: red
          float: right;
}
@media (max-width: 1000px)  
img {
    display: block;
  }
}

giants { background-color: blue;
          float: right;}

@media (max-width: 900px)  
img {
    display: block;
  }
}

cars {background-color: green;
       float:right;}

@media (max-width: 800px)  
img {
    display: block;
  }
}

birthday {background-color: orange;
           float: right; }

@media (max-width: 700px)  
img {
    display: block;
  }
}

#twin {background-color: purple }

@media (max-width: 600px)  
img {
    display: block;
  }
}
outdoors {background-color: yellow;
           float:right;}

@media (max-width: 500px)  
img {
    display: block;
  }
}
