html{
color: white
font-size:16px;
line-height:1.4;
font-family:ariel,sans-serif;
}


img
{max-width: 1200px;
max-height: 800px;
}

head { max-width: 1000px;
}

body { 
max-width: 1000px;
display: block;
background-color: grey;
}


container {max-width: 1200px}
@media (max-width: 1000px){ 


body{
background-color:purple;
}

#junior { display:none;}

}
@media (max-width: 1000px){  

body{
background-color:orange;
}

#giants { display:none;
          }
}
@media (max-width: 900px){  

body{
background-color:red;
}
#cars {display:none;
       }
}
@media (max-width: 800px){ 

body{
background-color:yellow;
}
}
#birthday {display:none;
            }

@media (max-width: 700px){  

	body{
			background-color:purple;
	}

		#twin {display:none; }
}

@media (max-width: 600px){  

body{
background-color:darkblue;
}
#outdoors {display:none;
           }
}
@media (max-width: 500px) { 

body{
background-color:lightblue;
}
}